

.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: ball;
    animation-duration: 5s ;
    transition: all 0.5s ease;
}

@keyframes ball{
    0%{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    50%{
       transform: translateY(220px);
        
    }

    100%{
        transform: translateY(-220px);
    }
}

