*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.cont{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 5px;
}



.cont .cube1{
    background-color: rgb(15, 106, 224);
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube2{
    background-color: limegreen;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube3{
    background-color: rgb(241, 51, 18);
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube4{
    background-color: rgb(241, 51, 18);
    grid-row-start: 2;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube5{
    background-color: rgb(235, 155, 8);
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}  