*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

h1{
    text-align: center;
    margin-top: 25px;
}

#main .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #ccc;
    width: 300px;
    height: 470px;
    padding: 10px;
    border-radius: 10px;
}
#main .card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

#main .card .tittle{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

#main .card .price{
    color: orangered;
    font-weight: 600;
    margin-top: 30px;
}

#main .card button{
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    border: none;
}


