*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px  ;
    gap: 5px;
}

.cont .cube1{
    background-color: rgb(13, 184, 13);
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube2{
    background-color: rgb(245, 59, 13);
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}
.cont .cube3{
    background-color: rgb(245, 241, 13);
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube4{
    background-color: rgb(13, 121, 245);
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube5{
    background-color: rgb(245, 106, 13);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:2 ;
    grid-column-end: 4;
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}

.cont .cube6{
    background-color: blueviolet;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 65px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    border: 4px solid rgb(226, 98, 51);
}