*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;

}

.navbar .logo h1{
    font-size: 25px;
    font-weight: 500;
}

.navbar .menu i{
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    flex-direction: column;
}

.main h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.main p{
    opacity: 0.5;
    font-size: 13px;
    margin-top: 90px;

}

.main .adges{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 40px;


}



.main .adges p{
    opacity: 1;
    color: black;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    width: 1200px;
    height: 600px;
    object-fit: cover;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
}