*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: linear-gradient(to bottom, #2C5364, #203A43 , #0F2027);
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: #353555 ;
    padding: 10px;
    width: 500px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.navbar .links{
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .links a{
    text-decoration: none;
    color: black;
    color: #fff;
    font-size: 12px;
}

.navbar .links .bodered{
    border: 1px solid #ccc;
    padding: 5px  8px;
    border-radius: 15px;

}

.navbar .links img{
    margin-left: 15px;
}