*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.main .navbar{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 19px;
    width: 100%;
    top: 0;
}

.main .navbar .start p{
    color: #c14426;
    font-weight: 500;
}

.main .navbar .middle{
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main .navbar .middle h1{
    color: #c14426;
    font-weight: 700;
}

.main .navbar .middle .links{
    display: flex;
    gap: 15px;
}

.main .navbar .middle .links a{
    color: #c14426;
    text-decoration: none;
}

.main .navbar .end{
    display: flex;
    gap: 15px;
}

.main .navbar .end a{
    color: #c14426;
    text-decoration: none;
    font-weight: 500;
}


.main .info{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #c14426;
    gap: 5px;
}

.main .info h1{
    font-size: 50px;
}

.main .info p{
    font-weight: 900;
}


.main .info a{
    color: #c14426;
    font-weight: 700;

}

