@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" ,serif;
}

body{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
}

.box .btns{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.box .btns button{
    width: 100%;
    height: 30px;
    background-color: #f0db4f;
    border: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #323330;
    cursor: pointer;
}


