*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url("images/backround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.navbar .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .links a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.navbar .logo h1{
    font-weight: 400;
    color: #fff;
}


.navbar .buttons{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.navbar .buttons .btn1{
    border: none;
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 500;
    cursor: pointer;
}

.navbar .buttons .btn2 {
    background-color: rgb(3, 102, 3);
    color: #fff;
    font-weight: 500;
    padding: 5px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
}

.main h1{
    text-align: center;
    font-family: 100;
}



