*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;

}

body{
    overflow: hidden;
}

.navbar .left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.navbar .right{
    margin-right: 20px;

}

.navbar .right button{
    background: transparent;
    border: 1px solid green;
    color: green;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .right button:hover{
    background-color: green;

    color: #fff;
}

.main{
    width: 100%;
    height: 600px;
    background: url(images/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.main .info{
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 40%;
}

.main .info h1{
    font-size: 28px;
    color: #222;
    text-align: center;
}

.main .info button{
    background: green;
    border: 1px solid green;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}