body{
  background-color: #222;  
}
.object{
    width: 150px;
    height: 150px;
    background-color: rgb(123, 165, 186) ;
    border-radius: 15px;
    position: absolute;
    top: 40%;
    animation: cube 3s 1s ease;
    transition: all 0.5s ;
}

@keyframes cube{
    0%{
        background-color: rgb(123, 165, 186);
        transform: rotate(0deg);
        transform: translate(0px);
    }

    50%{
        rotate: 160deg;
        translate: 50px;
        background-color: rgb(255, 208, 0);
    }

    100%{
        rotate: 360deg;
        translate: 100px;
        background-color: rgb(255, 208, 0);
    }
}

