*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 500px;
    box-shadow: 0px 0px 5px 3px #ccc;
    border-radius: 10px;
}

.cont input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    color: black;
    width: 100%;
    outline: none;
}

.cont button{
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(0, 81, 255);
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s ease;
}

.cont button:hover{
    transform: scale(0.99);
}

.cont p{
    font-size: 50px;
    color: rgb(0, 81, 255);
    font-weight: 700;
}

