*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.navbar .logo h3 {
    font-weight: bolder;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .links{
    display: flex;
    gap: 20px;
}

.navbar .links a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar .buttons{
    display: flex;
    gap: 15px;
}

.navbar .buttons .btn1{
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 10px;
}

.navbar .buttons .btn2{
    background-color: #222;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 10px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
}

.main h1 {
    font-weight: bolder;
    font-size: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;

}

.main .circle{
    width: 1200px;
    height: 350px;
    background-color: rgb(3, 73, 18);
    margin-top: 50px;
    border-radius:  900px 900px 0px 0px;
}