*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
  background-color: black;
  color: #fff;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}

.navbar .logo h1{
  color: #a259ff;
  font-size: 35px;
  transform: rotate(-90deg);
  font-weight: 500;
}

.navbar .links{
  display: flex;
  gap: 15px;
}

.navbar .links a{
  text-decoration: none;
  color: #fff;
}

.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-top: 100px;
}

.main .right{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.main .right .info{
  color: #ccc;
}

.main .right a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.main .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  width: 800px;
}

.main .left .top{
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  margin-left: 50px;
}

.main .left .bottom{
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  margin-left: 150px;
}

.main .left .bottom span{
  color: #a259ff;
}


.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.cards .card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #1a1a1a, #0a0a0a);
  width: 300px;
  height: 200px;
}

.cards .card h4{
  color: #ccc;
}

.cards .card h3{
  margin-top: 30px;
}





