*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #eee;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px #222;
    background-color: #fff;
}


.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.navbar form input{
    border: none;
    border-radius: 20px;
    background-color: #eee;
    outline: none;
    padding: 5px 10px;
}



.navbar .icons img{
    cursor: pointer;
}


.sidebar{
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 400px;
}

.sidebar div{
    display: flex;
    gap: 8px;
    align-items: center;
}

.sidebar div p{
    font-weight: 500;
}

.sidebar .user{
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.sidebar .user img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
} 

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    flex-direction: column;
    gap: 50px;

}

.main .story{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main .story .card{
    width: 100px;
    height: 160px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    background: url(images/story.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.main .story .card .storyImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont{
    display: flex;
}

.main .story .card img{
    border-radius: 50%;
    border: 2px solid rgb(22, 106, 202);
}

.main .story .card p{
    color: #fff;
    margin-top: 70px;
    font-weight: 500;
}

.main .user{
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main .user .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main .user .top img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.main .user .top input {
    border: none;
    border-radius: 20px;
    background-color: #eee;
    outline: none;
    padding: 5px 10px;
    width: 300px;
}

.main .user .top button{
    border: none;
    border-radius: 20px;
    background-color: #eee;
    padding: 5px 10px;
    color: #858484;
}

.main .seperator{
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin-top: 30px;
}

.main .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main .bottom div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}


.main .post{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 20px;
    padding: 5px;
    width: 100%;

    border-radius: 10px;
}

.main .post .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .post .img img{
    width: 100%;
    height: 300px;
}

.main .post .userInfo{
    display: flex;
    gap: 10px;
    margin-left: 5px;
    align-items: center;
    
}

.main .post .userInfo .text{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.main .post .user .text .username{
    color: black;

}

.main .post .userInfo img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.main .post .userInfo .text .date{
    color: #a39c9c;
    font-size: 14px;
}