*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;

}

.navbar .logo{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .links a{
    text-decoration: none;
    color: black;
}
.navbar .profile {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.imgs{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.imgs .first{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imgs .second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imgs img{
    width: 200px;
    height: 200px;
}