*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#dcdcdc;
    padding:40px;
}

.note{
    max-width:1100px;
    margin:auto;
    background:#dcdcdc;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:auto auto auto auto;
    gap:25px;
}


h1{
    font-size:22px;
    margin-bottom:10px;
}

h3{
    font-size:18px;
}


.title{
    grid-column:1;
}

.title input{
    width:90%;
    height:40px;
    border:1px solid #bfbfbf;
    padding:8px;
    font-size:16px;
    background:white;
}


.note-tags{
    grid-column:1;
}

.tags{
    width:90%;
    height:120px;
    border:1px solid #bfbfbf;
    background:white;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:5px;
    overflow-y:auto;
}

.tags button{
    background:none;
    border:none;
    text-align:left;
    font-size:15px;
    cursor:pointer;
}


.your-note{
    grid-column:2;
    grid-row:1 / span 2;
}

.your-note input{
    width:100%;
    height:240px;
    border:1px solid #bfbfbf;
    padding:10px;
    font-size:16px;
    background:white;
}


.preview{
    grid-column:2;
    background:#e6e6e6;
    padding:15px;
    border:1px solid #cfcfcf;
}

.preview .note-preview{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3b75a5;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    display: none;
}

.preview .note-preview #title-h1{
    color: #fff;
}
.preview .note-preview #note-p{
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
}

.preview .note-preview #tag-h2 {
    background-color: #bfbfbf59;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid black;
}




.note > button{
    grid-column:2;
    height:45px;
    border:none;
    background:#3b75a5;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.2s;
}

.note > button:hover{
    background:#2e5f86;
}
