*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #eee;
}

.navbar .links{
    display: flex;
    gap: 15px;
}

.navbar .links a{
    color: black;
    text-decoration: none;
}

.navbar .buttons{
    display: flex;
    gap: 10px;
}

.navbar .buttons .btn1{
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
}

.navbar .buttons .btn2{
    background-color: #82f390;
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 17px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px;

}

.main .left h1{
    font-size: 50px;
}

.main .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main .right .buttons{
    display: flex;
    gap: 15px;
}

.main .right .btn1 {
    background-color: #82f390;
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 17px;
}

.main .right .btn2{
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    border-radius: 17px;
}

.img{
    background: url(images/backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
}



