*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: url("images/backround.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    width: 600px ;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background-color: #ffc83a;
    margin-top: 20px;
}

.navbar .links{
    display: flex;
    gap: 15px;
}

.navbar .links a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.navbar .icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .icons img{
    width: 150px;
    object-fit: cover;
}

.footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
    left: 50px;
    gap: 20px;

}

.footer p{
    color: #fff;
    font-size: 25px;
}

.footer h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer button{
    padding: 15px;
    border: none;
    background-color: #fff;
    color: black;
    border-radius: 30px;
    width: 170px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}