*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons img{
    box-shadow: 0px 0px 0px 1px #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s ease;

}

.buttons img:hover {
    transform: scale(1.05);
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}

