*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 70px;
    padding-right: 90px;
    box-shadow: 0px 0px 5px 3px #ccc;
}

.navbar .left p{
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.navbar .right {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.navbar .right p{
    font-size: 18px;
    font-weight: 600;
}

.navbar .right .cont{
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar .right .cont img{
    width: 20px;
    cursor: pointer;
}

.main .category{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 170px;
    margin-left: 70px;
}

.main .category p{
    font-weight: 700;
    margin-bottom: 17px;
    font-size: 20px;
}

.main .labels {
    display: flex;
    gap: 14px;
}

.main .labels input {
    width: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .labels label {
    cursor: pointer;
}

.main .labels input:hover{
    width: 30px;
}

.main a{
    color: #aaa1a1;
    margin-top: 15px;
}



.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px;
}

.main .card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    margin-top: 100px;
    box-shadow: 0px 0px 1px 1px #ccc;
    border-radius: 10px;
    width: 300px;
    gap: 50px;
}

.main .card .title {
    font-weight: 600;
    text-align: center;
}

.main .card img{
    width: 150px;
    height: 200px;

}

.main .card .Buy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.main .card .Buy .price{
    font-weight: 600;
}

.main .card .Buy button{
    padding: 5px 10px;
    background-color: rgba(0, 204, 255, 0.274);
    border-radius: 10px;
    border: none;
    color: rgb(0, 110, 255);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .card .Buy button:hover{
    transform: scale(1.06);
}


