*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont button{
    padding: 5px;
    margin: 5px;
    display: flex;
    background-color: rgb(54, 221, 54);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}