*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #222;
}

.cont .image img{
    border-radius: 15px;
}

.cont .btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    margin-left: 10px;

}

.cont .btns button{
    padding: 5px 20px;
    background-color: #564239;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}


