*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #88a9af;
}

.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 25px;
}

.navbar .links a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar .buttons{
    display: flex;
    gap: 15px;
}

.navbar .buttons .btn1{
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.navbar .buttons .btn2{
    border: none;
    background-color: #6b898f6e;
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 50px;
    width: 100%;
    padding: 50px;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.main .left .seperator{
    width: 150px;
    height: 1px;
    background-color: #fff;
}

.main .left h1{
    font-size: 70px;
}

.main .left p{
    text-align: center;
    font-weight: 600;
}

.main .middle img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.main .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin-right: 70px;
}

.main .right h1{
    font-size: 80px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: 1;
}
.main .right button{
    width: 200px;
    padding: 10px 10px;
    border: none;
    border-radius: 2px;
    background-color: rgb(11, 179, 11);
    color: #fff;
}