*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar .left{
    padding: 10px;
}
.navbar .left img{
    width: 50px;
    object-fit: cover;
}

.navbar .middle h4{
    color: red;
    font-size: 30px;
}

.main{
    width: 100%;
    display: flex;
    padding: 7px;
    height: 800px;
}

.main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
