div{
    display: flex;
    flex-direction: row;
}
#item1{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
  
}
#item2{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
 
}
#item3{
       width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
 
}

 

#item4{
       width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
}
#item5{
    width: 100px;
 height: 100px;
 background-color: red;
 border: 2px solid black;
}

/* row ალაგებს ელმენტებს ერთმანეთის გვერდით */