*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #222;
}


.navbar {
    width: 320px;
    padding: 4px;
    height: 40px;
    border-radius: 16px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: auto;
    margin-top: 10px;
}

.navbar .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.navbar .buttons .btn1{
    background-color: #ccc;
    padding: 5px;
    border: none;
    border-radius: 15px;
}

.navbar .buttons .btn2 , .btn3 ,.btn4 , .btn4 {
    background: none;
    color: #fff;
    border: none;
}

.navbar .buttons .btn5{
    background-color: #222;
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: #fff;
}

.main{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;

}

.main h1{
    font-size: 50px;
    color: #fff;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
}