*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar{
    width: 100%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
}

.navbar .logo {
    margin-left: 15px;
}

.navbar .logo h4{
    font-size: 20px;
}

.navbar .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navbar .right input{
    width: 300px;
    padding: 2px 5px;
}

.navbar .right .links{
    display: flex;
    gap: 10px;
}

.navbar .right .links a{
    text-decoration: none;
    color: black;
}

.navbar .buttons{
    display: flex;
    gap: 10px;
}

.navbar .buttons .btn1{
    background-color: #fff;
    color: black;
    border: none;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.navbar .buttons .btn2{
    background-color: rgb(15, 121, 207);
    color: #fff;
    border: none;
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
