*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.cont .main{
    background-color: #222;
    width: 100px;
    height: 100px;
}

.cont .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cont .buttons .blue{
    background-color: blue;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.cont .buttons .red{
    background-color: red;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.cont .buttons .green{
    background-color: green;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

